.ui-datepicker{border:1px solid #c4c4c4;border-radius:2px;box-shadow:0 0 9px 5px rgba(0,0,0,0.05);background-color:#fff;z-index:9999999999!important;display:none;-webkit-transform:translateZ(1px)}
.ui-datepicker .ui-datepicker-unselectable{background-color:#f5f5f5}
.datepicker-tooltip{z-index:9999999999;-webkit-transform:translateZ(1px)}
.ui-datepicker-calendar{background:transparent;border-collapse:collapse;border-spacing:0;}
.ui-datepicker-calendar td{border:1px solid #dce0e0;padding:0;position:relative}
.ui-datepicker-calendar td:first-child,
.ui-datepicker-calendar td:last-child{border-left:0}
.ui-datepicker-calendar th{text-align:center;color:#82888a;font-size:.8em}
a.ui-state-default,
span.ui-state-default{display:block;padding:6px 0;text-align:center;font-weight:700;width:32px;border:1px solid transparent}
a.ui-state-default:hover,
span.ui-state-default:hover{text-decoration:none}
a.ui-state-default.ui-state-hover,
a.ui-state-default.ui-state-active{background-color:#00C2FF;color:#fff;border-color:#00C2FF;margin:-1px;width:34px}
.ui-datepicker-prev,
.ui-datepicker-next{cursor:pointer}
.ui-datepicker-prev:before,
.ui-datepicker-next:before{font-family:Airglyphs,sans-serif;font-weight:400;font-style:normal;line-height:1;color:#82888a;font-size:1.2em}
.ui-datepicker-prev:hover,
.ui-datepicker-prev:hover:before,
.ui-datepicker-next:hover,
.ui-datepicker-next:hover:before{text-decoration:none}
.ui-datepicker-prev{float:left}
.ui-datepicker-prev{width:0;height:0;border-style:solid;border-width:10px 10px 10px 0;border-color:transparent #82888a transparent transparent;line-height:0px;_border-color:#000000 #82888a #000000 #000000;_filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.ui-datepicker-next{float:right}
.ui-datepicker-next{width:0;height:0;border-style:solid;border-width:10px 0 10px 10px;border-color:transparent transparent transparent #82888a;line-height:0px;_border-color:#000000 #000000 #000000 #82888a;_filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.ui-datepicker-title{text-align:center}
a.ui-state-default{color:#565a5c}
span.ui-state-default{color:#dce0e0}
.ui-datepicker-header{font-weight:700;padding:15px}
.ui-datepicker-buttonpane{padding:5px;font-size:12px}
.ui-datepicker-close{color:#00C2FF;background:transparent;border:0;text-align:left;width:40%}
.ui-datepicker-current{display:none;}
.ui-datepicker-close{}
.clear1{display:none;}
.ui-datepicker-additional-info{position:relative;top:2px;float:right;color:#82888a;margin-bottom:10px;text-align:right;padding-right:5px;width:60%}
.ui-datepicker-calendar td.ui-datepicker-week-end{width:31px}
.ui-datepicker-calendar td:first-child{border-left:none}
.ui-datepicker-calendar td:first-child a.ui-state-default.ui-state-highlight,
.ui-datepicker-calendar td:first-child a.ui-state-default.ui-state-hover,
.ui-datepicker-calendar td:first-child a.ui-state-default.ui-state-active,
.ui-datepicker-calendar td:first-child a.ui-state-default.ui-state-highlight{border-left:none;margin:0;width:33px}
.ui-datepicker-calendar td:last-child{border-right:none;margin-right:0}
.ui-datepicker-calendar td:last-child a.ui-state-default.ui-state-highlight,
.ui-datepicker-calendar td:last-child a.ui-state-default.ui-state-hover,
.ui-datepicker-calendar td:last-child a.ui-state-default.ui-state-active,
.ui-datepicker-calendar td:last-child a.ui-state-default.ui-state-highlight{border-right:none;margin:0;width:33px}
.ui-datepicker-prev span {display: none}
.ui-datepicker-next span {display: none}
