
.mobile-top-panel {
    .mobile-top-panel__top-panel-wrapper {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        webkit-transform: translate3d(0,0,0);
        background: none;
        overflow-y: hidden;
        pointer-events: none;
        z-index: 1999;
    }

    .mobile-top-panel__top-panel-container-full-screen {
        pointer-events: auto;
        background-color: #ffffff;
        border-top: 1px solid #DBDBDB;
        box-shadow: 0 0 2px 0px rgba(22, 22, 22, 0.2);
        height: 100%;
        overflow-y: hidden;
        position: relative;
        will-change: transform;
    }

    .mobile-top-panel__container {
        position: relative;
    }

    .mobile-top-panel__container-block {
        display: block;
        width: 100%;
    }

    .mobile-top-panel__dropdown-container {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        webkit-transform: translate3d(0,0,0);
        background: none;
        overflow-y: hidden;
        pointer-events: auto;
    }

    .mobile-top-panel__dropdown-panel-dropdown {
        pointer-events: auto;
        background-color: #ffffff;
        border-top: 1px solid #DBDBDB;
        box-shadow: 0 0 2px 0px rgba(22, 22, 22, 0.2);
        height: auto;
        overflow-y: hidden;
        position: relative;
        will-change: transform;
        border-bottom: 1px solid #DBDBDB;
        z-index: 2000;
    }

    .mobile-top-panel__dropdown-panel-content {
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
    }

    .mobile-top-panel__dropdown-panel-container {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        display: table;
        vertical-align: top;
        width: 100%;
        border-bottom: none;
    }

    .mobile-top-panel__dropdown-panel-button-container {
        cursor: pointer;
        background-color: transparent;
        color: buttontext;
        border: 0px;
        display: block;
    }

    .mobile-top-panel__dropdown-panel-left-item {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        width: 30%;
    }

    .mobile-top-panel__dropdown-panel-center-item {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 40%;
    }

    .mobile-top-panel__dropdown-panel-right-item {
        display: table-cell;
        text-align: right;
        vertical-align: middle;
        width: 30%;
    }

    .mobile-top-panel__dropdown-panel-text {
        color: #484848;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        margin: 0px;
        word-wrap: break-word;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .mobile-top-panel__dropdown-panel-anchor-text {
        color: #008489;
        font: inherit;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        text-decoration: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 0px;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        text-align: left;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }

    .mobile-top-panel__dropdown-body {
        padding-left: 20px;
        padding-right: 20px;
        padding: 20px;
    }

    .mobile-top-panel__dropdown-button {
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #484848;
        background: #ffffff;
        border: 1px solid #e4e4e4;
        border-radius: 4px;
        cursor: pointer;
        display: inline;
        text-align: left;
        padding: 11px 12px;
        position: relative;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        outline: none;
        box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.15);
    }

    .mobile-top-panel__dropdown-icon {
        color: #767676;
        display: inline-block;
        vertical-align: middle;
    }

    .mobile-top-panel__dropdown-copy {
        color: #484848;
        margin-left: 8px;
        vertical-align: middle;
    }

    .mobile-top-panel__input-wrapper {
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: undefined;
        padding-top: undefined;
        padding-bottom: undefined;
        color: #484848;
        border-width: 1px;
        border-style: solid;
        border-color: #DBDBDB;
        border-radius: 2px;
        background-color: #ffffff;
        margin-bottom: 0px;
        position: relative;
        z-index: 0;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        width: 100%;
    }

    .mobile-top-panel__input-container {
        overflow: hidden;
        position: relative;
    }

    .mobile-top-panel__input {
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 19px !important;
        line-height: 24px;
        letter-spacing: undefined;
        padding-top: undefined;
        padding-bottom: undefined;
        color: #484848;
        background-color: transparent;
        border: 0px;
        padding: 11px;
        width: 100%;
        text-overflow: ellipsis;
    }

    .mobile-top-panel__input-label--hidden {
        position: absolute;
        display: block;
        border: 0px;
        margin: -1px;
        padding: 0px;
        height: 1px;
        width: 1px;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    .mobile-top-panel__geolocation-results {
        background-color: #ffffff;
        border-color: #DBDBDB;
        border-radius: 0px 0px 2px 2px;
        border-style: solid;
        border-width: 0px 1px 1px;
        margin-top: 0px;
        padding: 0px;
        overflow-y: auto;
        border-top-width: 1px;
        position: absolute;
        width: 1080px;
        max-height: 25vh;
        left: -6px;
        top: 49px;
        z-index: 5;
    }
}
