*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

.DS_Store

app/.DS_Store

uploads/.DS_Store
/nbproject/*
/menus/*
/images/*
!/images/landing_pages
!/images/.htaccess
!/css/.htaccess
!/js/.htaccess

/imported_calendars/
.idea
/.vscode/*
reviews_cache_*.json

/node_modules/
/dist/
/lang/
npm-debug.log

sitemap_*.xml
!sitemap_template.xml

room_catalogue_cache.csv

err.log
out.log

/db_dumps/

/vendor/*
/vendor/*/*
/yarn-error.log

.htaccess_dev
.env

*.un~
